- @layout = "application"
- @page_title = "Let's Ignite this City - March 4th, 2010"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

#content
  %a{:href => "http://twitter.com/ignitehouston"} @ignitehouston